.content-container{
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
}

.page-header {
    background: #f7f7f7;
    margin-bottom: 3.2rem;
    padding: 3.2rem 0;
}

.page-header__title {
    font-weight: 300;
    margin: 0;   
}
