.content-container{
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
}

.button-remove {
    background: #888;
    border: none;
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 1.2rem;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
}

.button-remove:hover {
    background-color: #777;
};